/* Hidden elements */
#user_welcome { display: none; }
#you_are_here { display: none; }
#sidebar { display: none; }
#toggle-sidebar { display: none; }
#foot { display: none; }
#referer { display: none; }
.menu-title { display: none; }

body {
	font-family: sans-serif;
	font-size: 10pt;
	color: #000;
	background-color: #FFF;
}

h3 {
	font-size: 18pt;
}

img {
	border: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	background-color: #BBB;
}

th, td {
	border: solid 1px black;
	padding: .75mm;
}

th, .inform .fix {
	width: 10%;
}
